/* FONT FAMILY */
/* h1{
font-family: cursive;
}

h1,{
    font-family: Arial, Verdana, sans-serif;
}
.credits {
    font-family: "Courier New", Courier, 
    monospace;} */

    /* FONT SIZE */
    /* pixels */
    /* p{
        font-size: 120px;
    } */
    /* percentage */
    /* p{
        font-size:400%;
    } */

    /* default values */
/* 
    p{
        font-size: x-large;
    } */
    /* FONT FACE */
    /* @font-face {
        font-family: 'test';
        src: url('./fonts/Changa/static/Changa-Bold.ttf');
    }
    h1{
        font-family: test;
    } */
     /* FONT WEIGHT */
     /* p{
        font-weight: 800;
     } */

     /* FONT STYLE */
     /* h1{
        font-style: italic;
     } */

     /* using id selector and compering 3 style */
     /* #normal{
        font-style: normal;
     }
     #italic{
        font-style: italic;
     }
     #oblique{
        font-style: oblique;
     } */

     /* TEXT TRANSFORMATION */
     /* hello guys<=lowercase*/
     /* HELLO GUYS<=uppercase*/
     /* Hello Guys How are you doing?<=Capitalized */
     /* h1{
        text-transform: capitalize;
     } */

     /* TEXT DECORATION */
     /* #underline{
        text-decoration:underline ;

     }

     #overline{
        text-decoration: overline;
     }
     #line-through{
        text-decoration: line-through;
     }
     #blink{
        text-decoration: blink;
     } */

     /*LEADING/ line Height  */
     /* p{
      line-height: 60px;
     } */

     /* LETTER AND WORD SPACING */
     /* h1{
      word-spacing: -5px;
     } */


     /* letter spacing */
     /* h1{
      letter-spacing: -3px;
     } */

     /* TEXT ALIGN */
     /* h1{
      text-align: center;
     }
     p{
      text-align: justify;
     } */

     /* VERTICAL ALIGNMENT */
     /* img{
      vertical-align:middle;
     } */

     /* TEXT INDENT */
     /* p{
      text-indent: 50px;
      text-align: justify;
     } */

     /* TEXT SHADOW */
    /* p{
      background-color:#eeeeee;
      color: #666666;
      text-shadow: 1px 1px 0px black;
    } */

    /* FIRST LETTER AND LINE */
    /* p::first-letter{
      color: red;
    }
    p::first-line{
      color: blue;
    } */
     /* STYLING LINGS */
     /* a:link{
      color: red;
     }
     a:visited{
      color: green;
     } */

     /* RESPONDING TO UESR */
     /* hover */
     /* input.btn:hover{
      background-color: wheat;
     }
     input.btn:active{
     background-color: red;
     }
      */
     /* input.btn:focus{
      background-color: aqua;
     }

     input.textbox:focus{
      background-color: black;
      color: white;
     } */

     /* ATTRIBUTE SELECTORS */
     /* Existence */
     /* p[test]{
      color: red;
     } */
     /* equality */
     /* p[name="hello"]{
      color: blue;
     } */

     /* Space */
     /* p[name~='hello']{
      color: fuchsia;
     } */

     /* prefix */
     /* p[test^="hello"]{
      color: gold;
     } */

     /* substring */
     /* p[test*="ll"]{
      color: red;
     } */

     /* suffix */
     /* p[test$="l"]{
      color: fuchsia;
     } */










